{% extends '::base.html.twig' %}

        {% block stylesheets %}
            <link href="{{ asset('/bundles/vikanwash/css/style.css') }}" rel="stylesheet" />
        {% endblock %}
{% block body %}
    <h1> Washing machines at sit student villages in Trondheim </h1>

    <table>
    <tr>
        <th>Location</th>
        <th>Available</th>
        <th>Busy</th>
    </tr>
    {% for slug, laundryPlace in laundryStates %}
    <tr>
        <td><a href="{{ path('vikan_wash_laundryplace', {'slug': slug}) }}">
            {{ laundryPlace.name }}
          </a>
        <td>{{ laundryPlace.available }}</td>
        <td>{{ laundryPlace.busy }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
